/*
    Removing padding and margins
    Including the google font
*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans HK', sans-serif;
}

.container {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans HK', sans-serif;
}

/*
    logo in top left corner
*/
#headerimg {
    float: left;
    height: 75px;
    margin-left: 10px;
}

/*
    Setting size and decoration of header
*/
header {
    height: 75px;
    border-bottom: 0.5px silver solid;
}

/*
    styling of title
*/
header h1 {
    position: relative;
    top: 13px;
    margin: 0;
}

.box {
    height: 29px;
    width: 250px;
    border: 1px solid silver;
    border-radius: 25px 25px 25px 25px;
}


/*
    navigation area positioning
*/
nav {
    position: absolute;
    left: 80%;
    top: 30px;
}

/*
    text-styling
*/
nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 15px;
    padding-bottom: 5px;
}

/*
    further text-styling when hovering
*/
nav a:hover {
    border-bottom: 4px solid silver;
}

/*
    setting up div area
*/

.main-div{
    text-align:center;
}

/*
    size and positioning of bigger image
*/

.main-div img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:25%;
}

/*
    positioning of upper text
*/


/*
    setting up, stlying and positioning the "get started" button
*/
.main-div button {
    width: 250px;
    height: 75px;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 28px;
    font-weight:bold;
    color: black;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    background-color: #00b4b1;
    box-shadow: 0px 0px 0px transparent;
    border: 3px solid black;
    text-shadow: 0px 0px 0px transparent;
    margin-right: 26%;
    margin-left: 25.5%;
}
.main-div button:hover{
    background-color: #009C99;
}

/*
    it's clear cmon
*/
.clear {
    clear: both;
}

.textContainer{
    width:100%;
    margin-bottom:2%;
    text-align:center;
}

.containerLeft{
    float:left;
}

.containerRight{
    float:right;
}

.containerMiddle{
    margin:0 auto;
}

.containerLeft, .containerRight, .containerMiddle{
    padding:20px;
    width:30%;
}


.Footer{
    text-align:center;
    color: #A9DFE9;
    margin-top: 1%;
    margin-bottom: 1%;
}

#statheaddiv{
    text-align:center;
    margin-top: 20px;
}

#statheader{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    display:inline;
    padding:5px;
    border-bottom:1px solid silver;
}

#edit{
    position:absolute;
    right:5%;
    top: 103px;
    color:black;
    background-color:#00b4b1;
    border:3px solid black;
    border-radius:5px;
    font-family: 'Noto Sans HK', sans-serif;
    font-size:20px;
}

#edit:hover{
    background-color:#009C99;
}

.bottommenu{
    position:fixed;
    bottom:-260px;
    width:100%;
    text-align:center;
    height:200px;
    color:white;
    background-color: white;
    border-top:4px solid black;
    border-bottom:4px solid black;
    padding:10px;
    -webkit-transition: bottom 0.8s;
    transition: bottom 0.8s;
    z-index:3;
    overflow:hidden;
}

#logdiv{
    text-align:center;
    padding:20px;
}

#loghead1{
    display:inline;
    border-bottom: 2px solid silver;
    padding:4px;
}

.chartbutton{
    color:black;
    background-color:white;
    border:2px solid #009C99;
    border-radius:2px;
    font-family:'Noto Sans HK', sans-serif;
    font-size:20px;
    display:inline-block;
    margin:2px;
}

.chartbutton:hover{
    text-decoration: underline;
}

#menuhead{
    display:inline;
    text-decoration: underline;
    background-color:white;
    color:black;
    border:3px solid #009C99;
    border-radius:5px;
    padding:2px;
}
/*Muuri Grid CSS*/
.statsgrid {
    position: relative;
    margin-top:18px;
}
.item {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 5px;
    z-index: 1;
    background: #fff;
    color: #000;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding:15px;
}

#item1{
    width:400px;
    height:300px;
}

#item2{
    width:400px;
    height:300px;
}

#item3{
    width:400px;
    height:250px;
}

#item4{
    width:400px;
    height:300px;
}

#item5{
    width:400px;
    height:600px;
}

#item6{
    width:400px;
    height:600px;
}

#item7{
    width:400px;
    height:600px;
}

#item8{
    width:400px;
    height:250px;
}

.item.muuri-item-dragging {
    z-index: 3;
}
.item.muuri-item-releasing {
    z-index: 2;
}
.item.muuri-item-hidden {
    z-index: 0;
}
.item-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top:15px;
}

.cross{
    position:absolute;
    right:5%;
    top:10px;
    display:none;
}

.gridheader{
    margin-bottom:10px;
    margin-top:0px;
}

/*Charts*/
#chart1{
    z-index:-1;
}

/*Leaderboard*/
.leaderboard{
    background-color:white;
    color:black;
    padding:10px;
    height:85%;
    border:3px solid black;
    border-radius:3px;
    line-height:165%;
    font-weight: bold;
    overflow-y:scroll;
}

::-webkit-scrollbar{
    display:none;
}

.leaderplace{
    width:98%;
    border:2px solid black;
    border-radius:6px;
    padding:2px;
    overflow:hidden;
}

#place-1{
    color:darkgoldenrod;
    border:2px solid darkgoldenrod;
    border-radius:6px;
    padding:2px;
}

#place-2{
    color:#6d787a;
    border:2px solid #6d787a;
    border-radius:6px;
    padding:2px;
}

#place-3{
    color:#CD7F32;
    border:2px solid #CD7F32;
    border-radius:6px;
    padding:2px;
}

.data{
    float:right;
}

#user {
    position: relative;
    left: 40%;
    font-size: 12px;
    padding: 5px;
    width: 280px;
    top: -35px;
}

#user h2 {
    float: right;
    position: relative;
    top:-55px;
}


#userpic {
    height:50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}


#serverpic {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 27%;
    top: 122px;
}

select{
    border:2px solid black;
    border-radius:6px;
    font-family:'Noto Sans HK', sans-serif;
    font-size:22px;
    font-weight:bold;
}

@media only screen and (max-width: 600px) {

    .topnav #myLinks {
        display: show;
    }

    #headerimg {
        position: relative;
        height: 80px;
        top: 12.5px;
    }

    header {
        height: 100px;
    }

    header h1 {
        font-size: 28px;
        top:32.5px;
    }

    nav {
        left: 75%;
        top: 20px;
    }

    nav a {
        float: left;
        font-size: 20px
    }

    .searchbar {
        display: none;
    }

    .containerLeft, .containerRight, .containerMiddle{
        float: left;
        margin-left: 20px;
        padding:20px;
        width:80%;
    }

    .main-div img {
        width: 75%
    }

    .main-div button {
        margin: 0;
    }

    .Footer {
        padding: 20px;
    }

    #edit {
        display: none;
    }

    #item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8 {
        width: 300px;
        margin-left: 13px;
    }

    #statheader{
        max-width: 80%;
        font-size: 24px;
    }

    #user{
        display: none;
    }
}


